.gamePage {
  @include flex-column-start(3%);

  align-items: center;
  justify-content: center;
  width: 100%;

  &_title {
    margin: 0;
    font-size: 24px;
    color: $color-text;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 2px;
  }

  &_draw,
  &_win {
    margin: 3px 0;
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &_draw {
    color: $color-draw;

    &::after {
      display: block;
      visibility: hidden;
      height: calc(1.5vw + 36px);
      content: "";
    }
  }

  &_win {
    color: $color-error;

    &::after {
      display: block;
      visibility: hidden;
      height: calc(1.5vw + 36px);
      content: "";
    }
  }

  &_winner {
    padding-left: 10px;
  }

  &_text,
  &_text_marker,
  &_text_hidden {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: $color-text;
  }

  &_text_marker {
    font-size: 24px;
  }

  &_text_hidden {
    opacity: 0;
  }

  &_player {
    padding-left: 15px;
    font-size: 24px;
    color: $color-cross;
  }
}
