.inputWrap,
.inputWrap_disabled {
  @include flex-column-start(15px);
}

.inputWrap_disabled {
  pointer-events: none;
  opacity: 0.5;
}

.inputMain {
  @include flex-column-start(5px);
}

.input {
  padding: 10px 15px;
  font-size: 18px;
  color: $color-text;
  outline: none;
  background-color: $color-background;
  border: none;
  border-bottom: 1px solid $color-green;

  &::placeholder {
    font-size: 14px;
    color: $color-grey-light;
  }

  &_label {
    font-size: 18px;
    font-weight: 700;
    color: $color-text;
    text-transform: uppercase;
  }

  &_error {
    height: 18px;
    font-size: 12px;
    color: $color-red;
  }
}
