.login {
  @include flex-center(0);

  width: 100%;

  &_form {
    @include flex-column-start(55px);

    box-sizing: border-box;
    justify-content: center;
    width: 35%;
    padding: 3% 2%;
    border: 2px solid $color-green;
    border-radius: 30px;
  }

  &_inputs {
    @include flex-column-start(35px);
  }
}

@media screen and (width <= 768px) {
  .login_form {
    width: 75%;
  }
}

@media screen and (width <= 450px) {
  .login_form {
    width: 80%;
  }
}
